src/main/resources/xsd/inst.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pdv_liste">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="pdv">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="adresse" type="xs:string" />
                            <xs:element name="ville" type="xs:string" />
                            <xs:element minOccurs="0" name="horaires">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="jour">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                    <xs:element maxOccurs="unbounded" name="horaire">
                                                        <xs:complexType>
                                                            <xs:attribute name="ouverture" type="xs:decimal" use="required" />
                                                            <xs:attribute name="fermeture" type="xs:decimal" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="nom" type="xs:string" use="required" />
                                                <xs:attribute name="ferme" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="automate-24-24" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="services">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="service" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="prix">
                                <xs:complexType>
                                    <xs:attribute name="nom" type="xs:string" use="required" />
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="maj" type="xs:string" use="required" />
                                    <xs:attribute name="valeur" type="xs:decimal" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="latitude" type="xs:decimal" use="required" />
                        <xs:attribute name="longitude" type="xs:decimal" use="required" />
                        <xs:attribute name="cp" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="pop" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>